<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wordpress.commonplayground">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MessageListActivity"
            android:label="@string/title_message_list"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wordpress.commonplayground.view.MainActivity" />
        </activity>
        <activity
            android:name=".view.MessageDetailActivity"
            android:label="@string/title_message_detail"
            android:parentActivityName=".view.MessageListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wordpress.commonplayground.view.MessageListActivity" />
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AddSessionActivity"
            android:label="New Session"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wordpress.commonplayground.view.LoginActivity" />
        </activity>
        <activity
            android:name=".view.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:parentActivityName=".view.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wordpress.commonplayground.view.LoginActivity" />
        </activity>
        <activity
            android:name=".view.SessionDetailActivity"
            android:label="@string/title_activity_session_detail"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wordpress.commonplayground.view.MainActivity" />
        </activity>
    </application>

</manifest>